:root {
  --primary-color: #1F2833;
  --secondary-color: #45A29E;
  --accent-color: #66FCF1;

  --dark-primary-color: #0B0C10;
  --dark-secondary-color: #1F2833;
  --dark-accent-color: #66FCF1;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h6, h5, h3, h2, h1, label, span, p {
  color: #FFFFFF;
}

.root-container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  height: 100vh;
}

.base-container {
  flex: 1;
  display: flex;
}

@media (max-width: 600px) {
  .base-container {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 760px) {
  .title {
    font-size: 1.6em;
  }
}

@media (max-width: 248px) {
  .title {
    font-size: 0.9em;
  }

  h3 {
    font-size: 0.8em;
  }

  .input-base-container > label {
    font-size: 0.8em;
  }
}

.title, h4 {
  color: var(--accent-color)
}

.header {
  height: 60px;
  display: flex;
  padding-left: 12px;
  padding-right: 12px;

  background: var(--primary-color);
}

.title-header {
  flex: 1;
}

.actions-header {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: end;
}

.fibonacci-container {
  border-radius: 5px;
  width: 90%;
  height: 200px;
  padding: 12px;
  
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  display: flex;
  flex-direction: column;

  background: var(--secondary-color);
}

.top-left-container {
  flex: 7;

  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-right-container {
  flex: 5;

  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-color);
}

.top-fibonacci {
  flex: 7;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.bottom-fibonacci {
  flex: 5;
}

.input-base-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-base-container > label {
  margin-bottom: 8px;
  font-weight: bold;
}

.input-base-container > input {
  border: 3px solid black;
  border-radius: 5px;
  height: 30px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 24px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 17px;
  width: 17px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--accent-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--accent-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

.slider.rounded {
  border-radius: 34px;
}

.slider.rounded:before {
  border-radius: 50%;
}

.fa {
  font-size: 28px;
  margin-right: 16px;
  color: var(--accent-color)
}

.dark-primary {
  background: var(--dark-primary-color) !important;
}

.dark-secondary {
  background: var(--dark-secondary-color) !important;
}
